@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.jokeContainer{
    background-color: violet;
    color:black;
    font-family: sans-serif;
    font-style: italic;
    display:inline-block;
}